<div class='graphic__capital'>
	<div class='capital__chart tk-atlas'>
		<svg></svg>
		<div class='overlay'></div>
	</div>
	<div class='capital__prose'>
		<div class='prose__step' data-step='local'>
			<p class='step__text text--local'></p>
		</div>
		<div class='prose__step' data-step='best'>
			<p class='step__text text--best'>But nothing compares to
				<span class='place'></span>, the microbrew capital of the US. Let’s look at what makes this West Coast city a beer mecca, and how everywhere
				else stacks up.</p>
			<p class='step__text text--match-best'>
				<strong>It sure is!</strong> Santa Rosa, California is tops if you are looking for an abundance of high quality brews. Let’s
				look at what makes this west coast city a beer mecca, and how everywhere else stacks up.</p>
		</div>
		<div class='prose__step small' data-step='explanation'>
			<p class='step__text is-visible'>I recently noticed that when there is a discussion involving beer, someone will eventually reference a small, amazing
				brewery, or say something like ‘‘oh, but you have to go to Minneapolis, it has
				<em>the best</em> breweries’’ (almost true).</p>
			<p class='step__text is-visible'>But not everyone can be right. Since a brewery is only as good as its beers, I looked at the available data to make that
				claim. So what makes Santa Rosa so good?</p>
			<p class='step__text is-visible'>When you boil it down to a weighted blend of quality (beer ratings) and quantity (breweries in proximity), Santa Rosa
				tops the list.</p>
		</div>
		<div class='prose__step' data-step='everywhere'>
			<p class='step__text is-visible'>Which gives us the top 50 cities for beer-lovers in the US. The bigger the circle, the higher the ranking.</p>
		</div>
		<div class='prose__step' data-step='rank'>
			<p class='step__text is-visible'>But I am just one person, with one opinion and control of the data. Go ahead and adjust some things below to see how it
				influences the rankings.</p>
		</div>
	</div>
</div>