<div class='graphic__trend'>
	<div class='trend__intro'>
		<h2 class='tk-canela hed--section'>Are we at peak beer hype?</h2>
		<p>Apparently not. New breweries are opening across the country at an increasing rate. Although the trend has been booming
			since 2010, it doesn’t appear to be slowing either, with nearly 900 new breweries established in 2016. </p>
	</div>
	<div class='trend__chart--all tk-atlas'></div>
	<p class='trend__transition'>But not all states are equally excited about beer. While California has the most new breweries by volume, it’s also our
		biggest state. When we look at breweries opened per capita, we find out where the real beer nuts are at.
		<strong>Vermonters love the hops.</strong>
		<p class='trend__hed tk-atlas'>Breweries opened per 100,000 people</p>
		<p class='trend__dek tk-atlas'>States ordered from highest to lowest average per capita openings in the last 20 years</p>
		<div class='trend__chart--state tk-atlas'></div>
</div>