<div class='intro tk-canela'>
	{{> base/header }}
	<div class='intro__custom'>
		<p class='intro__byline tk-atlas'>By
			<a href='https://twitter.com/codenberg' target='_blank'>Russell Goldenberg</a>
		</p>
		<h1 class='intro__hed'>Craft beer &mdash; so hot right now.
			<span></span>
		</h1>
	</div>
	<div class='intro__prompt'>@@include('arrow-beer.svg')</div>
</div>