<div class='outro tk-atlas'>
	<p>
		<strong>Methodology:</strong> Data from RateBeer. Only breweries with 3+ beers that were reviewed 10+ times and 50+ total reviews
		were included. Restricted each brewery to its top 10 beers by review count (which accounted for greater than 90% of all
		reviews). Considered only breweries categorized as either microbrewery or brewpub. Only cities with a population of 40,000+
		were used. Light beer = 0-4%, medium = 4-7, heavy = 7. Get in touch: russell@polygraph.cool or
		<a href='https://twitter.com/codenberg'
		 target='_blank'>@codenberg</a>.
	</p>
</div>